@using Radiate.Engines.Entities
@using Radiate.Engines.Schema
@inject IDialogService DialogService

@if (EngineState == null)
{
    <div class="alert alert-warning" role="alert">
        No engine state available
    </div>
}
else
{
    <div class="container">
        <div class="row border-bottom">
            <div class="col">
                <div class="d-inline-flex">
                    <MudIcon Icon="@GetIcon(EngineState)" Class="ml-0 mr-2" Color="@GetColor(EngineState)"/>
                    <strong>@(EngineState.Name[..3])</strong>
                </div>
            </div>
                        
            <div class="col">
                <div class="d-inline-flex">
                    <strong>State:</strong>
                    <div class="pl-2">@EngineState.State</div>
                </div>
            </div>
                        
            <div class="col">
                <div class="d-inline-flex">
                    <strong>Runs:</strong>
                    <div class="pl-2">@EngineState.Metrics.Get(MetricNames.Run)?.Statistics?.Sum</div>
                </div>
            </div>
                        
            <div class="col">
                <div class="d-inline-flex">
                    <strong>Time:</strong>
                    <div class="pl-2">@TimeSpan.FromMilliseconds(EngineState.Metrics.Get(MetricNames.Time)?.Time?.Sum ?? 0)</div>
                </div>
            </div>
                        
            <div class="col">
                <div class="d-inline-flex">
                    <strong>Switches:</strong>
                    <div class="pl-2">@EngineState.Metrics.Get(MetricNames.EngineChange)?.Statistics?.Sum</div>
                </div>
            </div>   
                        
        </div>
    </div>
    
    @if (EngineState.SubEngines.Any())
    {
        <MudButton OnClick="@OpenEngineTree"
                   Class="mt-2"
                   Size="Size.Small"
                   Color="Color.Inherit"
                   Variant="Variant.Text">
            Engine Tree
        </MudButton>   
    }
}

@code {
    [Parameter] public EngineState? EngineState { get; set; }

    private async Task OpenEngineTree()
    {
        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Medium,
            FullWidth = true,
            CloseOnEscapeKey = true,
        };

        var dialogRef = await DialogService.ShowAsync<EngineStateTree>("Engine Tree Dialog", options);
        await dialogRef.Result;
    }

    private static string GetIcon(EngineState state) => state.State switch
    {
        EngineStateTypes.Pending => Icons.Material.Filled.Pending,
        EngineStateTypes.Started => Icons.Material.Filled.Start,
        EngineStateTypes.Running => Icons.Material.Filled.RunCircle,
        EngineStateTypes.Stopped => Icons.Material.Filled.Stop,
        _ => Icons.Custom.FileFormats.FileCode
    };

    private static Color GetColor(EngineState state) => state.State switch
    {
        EngineStateTypes.Pending => Color.Default,
        EngineStateTypes.Started => Color.Primary,
        EngineStateTypes.Running => Color.Success,
        EngineStateTypes.Stopped => Color.Secondary,
        _ => Color.Default
    };
}