@using Radiate.Engines.Entities

@if (Metric != null)
{
    <div class="col">
        <div class="row">
            <div class="col">
                <h3>@Metric.Name</h3>
                <MudDivider/>
                <div class="row mt-2">
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <h5>∧</h5>
                            </div>
                            <div class="col-4">
                                @Math.Round(Metric.Statistics.Max, 3)
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <h5>∨</h5>
                            </div>
                            <div class="col-4">
                                @Math.Round(Metric.Statistics.Min, 3)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <h5>μ</h5>
                            </div>
                            <div class="col-4">
                                @Math.Round(Metric.Statistics.Mean, 3)
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <h5>K</h5>
                            </div>
                            <div class="col-4">
                                @Math.Round(Metric.Statistics.Kurtosis, 3)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <h5>S</h5>
                            </div>
                            <div class="col-4">
                                @Math.Round(Metric.Statistics.Skewness, 3)
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <h5>s²</h5>
                            </div>
                            <div class="col-4">
                                @Math.Round(Metric.Statistics.Variance, 3)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col">
                @ChildContent
            </div>
        </div>
    </div>
    
}

@code {
    [Parameter] public MetricValue? Metric { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
