@using Radiate.Client.Services.Store.Schema

<MudDialog>
    <DialogContent>
        <div class="row">
            <div class="col">
                <div>
                    <MudSelect SelectedValuesChanged="@OnModelChange"
                               Value="@RunState.Inputs.ModelType"
                               MultiSelection="false"
                               HelperText="Model To Run"
                               T="string"
                               Label="Model"
                               Variant="Variant.Text">
                        @foreach (var model in StateOptions.ModelNames)
                        {
                            <MudSelectItem Value="@model"/>
                        }
                    </MudSelect>
                </div>
                <div>
                    <MudSelect SelectedValuesChanged="@OnDataSetChange"
                               Value="@RunState.Inputs.DataSetType"
                               MultiSelection="false"
                               HelperText="DataSet To Run"
                               T="string"
                               Label="DataSet"
                               Variant="Variant.Text">
                        @if (RunState.Inputs.ModelType == "Image")
                        {
                            @foreach (var data in StateOptions.ImageDataSetNames)
                            {
                                <MudSelectItem Value="@data"/>
                            }
                        }
                        else
                        {
                            @foreach (var data in StateOptions.DataSetNames)
                            {
                                <MudSelectItem Value="@data"/>
                            }
                        }
                    </MudSelect>
                </div>
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Start</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    
    private RunState RunState { get; set; }

    protected override void OnInitialized()
    {
        RunState = new RunState();
        base.OnInitialized();
    }

    void Cancel() => MudDialog.Cancel();

    void Submit() => MudDialog.Close(DialogResult.Ok(RunState)); 

    private void OnModelChange(IEnumerable<string> model)
    {
        var selectedModel = model.First();
        if (RunState.Inputs.ModelType == "Image" && selectedModel != "Image")
        {
	        RunState.Inputs.DataSetType = "XOR";
        }

        RunState.Inputs.ModelType = model.First();
        if (RunState.Inputs.ModelType == "Image")
        {
	        RunState.Inputs.DataSetType = "Polygon";
        }
    }
    
    private void OnDataSetChange(IEnumerable<string> value)
    {
        RunState.Inputs.DataSetType = value.First();
    }

    private void TargetImageChanged(ImageEntity image)
    {
        RunState.Inputs.ImageInputs.TargetImage = image;
    }
}