@page "/runs/{runId:guid}/image"
@rendermode InteractiveServer
@inject IDialogService DialogService

<MudContainer Class="mt-4 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        
        <MudItem md="8">
            <MudExpansionPanels Dense="true" Elevation="2" MultiExpansion="true">

                <ToolBar Title="Image Engine">
                    <Options>
                        <div class="d-flex align-items-center">
                            <MudIconButton OnClick="@OpenEngineTree" 
                                           Size="Size.Small"
                                           Color="Color.Inherit"
                                           Variant="Variant.Text"
                                           Icon="@Icons.Material.Outlined.AccountTree"
                                           Class="mr-5"/>
                            
                            <MudIconButton Size="Size.Small"
                                           Color="Color.Inherit"
                                           Variant="Variant.Text" 
                                           Icon="@Icons.Material.Outlined.ContentCopy"/>
                        </div>
                    </Options>
                    <ChildContent>
                        <MudExpansionPanel Dense="true" IsInitiallyExpanded="true">
                            <TitleContent>
                                <PanelHeaderPanel Title="Inputs"/>
                            </TitleContent>
                            <ChildContent>
                                <div class="mb-3">
                                    <ImageInputsPanel/>
                                </div>
                            </ChildContent>
                        </MudExpansionPanel>
                    </ChildContent>
                </ToolBar>

                <MudExpansionPanel Dense="true" IsInitiallyExpanded="true">
                    <TitleContent>
                        <PanelHeaderPanel Title="Image"/>
                    </TitleContent>
                    <ChildContent>
                        <MudDivider/>
                        <ImageTargetCurrentDisplayPanel/>
                    </ChildContent>
                </MudExpansionPanel>

                <MudExpansionPanel Dense="true" IsInitiallyExpanded="true">
                    <TitleContent>
                        <PanelHeaderPanel Title="Metrics"/>
                    </TitleContent>
                    <ChildContent>
                        <MudDivider/>
                        <MetricsDataGridPanel/>
                    </ChildContent>
                </MudExpansionPanel>

            </MudExpansionPanels>
        </MudItem>
        
        <MudItem md="4">
            <MudGrid>
                <MudItem md="12">
                    <MudPaper Elevation="2" Class="pa-4">
                        <RunControlPanel/>
                    </MudPaper>
                </MudItem>
                <MudItem md="12">
                    <MudExpansionPanels Dense="true" Elevation="2" MultiExpansion="true">
                        
                        <MudExpansionPanel Dense="true" IsInitiallyExpanded="true" MaxHeight="200">
                            <TitleContent>
                                <PanelHeaderPanel Title="Score"/>
                            </TitleContent>
                            <ChildContent>
                                <MudDivider/>
                                <ScorePanel/>
                            </ChildContent>
                        </MudExpansionPanel>

                        <MudExpansionPanel Dense="true" IsInitiallyExpanded="true" MaxHeight="150">
                            <TitleContent>
                                <PanelHeaderPanel Title="Fitness Distribution"/>
                            </TitleContent>
                            <ChildContent>
                                <MudDivider/>
                                <MetricSummaryChartPanel MetricName="@MetricNames.FitnessDistribution" ChartHeight="125" ChartType="line"/>
                            </ChildContent>
                        </MudExpansionPanel>

                        <MudExpansionPanel Dense="true" IsInitiallyExpanded="true" MaxHeight="150">
                            <TitleContent>
                                <PanelHeaderPanel Title="Age Distribution"/>
                            </TitleContent>
                            <ChildContent>
                                <MudDivider/>
                                <MetricSummaryChartPanel MetricName="@MetricNames.AgeDistribution" ChartHeight="125" ChartType="bar"/>
                            </ChildContent>
                        </MudExpansionPanel>

                    </MudExpansionPanels>
                </MudItem>
            </MudGrid>
            
        </MudItem>

    </MudGrid>
</MudContainer>

@code {
    
    [Parameter] public Guid RunId { get; set; }
    
    private async Task OpenEngineTree()
    {
        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Medium,
            FullWidth = true,
            CloseOnEscapeKey = true,
        };

        var dialogRef = await DialogService.ShowAsync<EngineTreePanel>("Engine Tree", options);
        await dialogRef.Result;
    }
}