@page "/runs/{runId:guid}"
@rendermode InteractiveServer
@inject IDialogService DialogService
@using Radiate.Engines.Schema
@inherits StoreComponent<MetricsModel>

<MudContainer Class="mt-4 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        
        <MudItem md="8">
            
            <MudExpansionPanels Dense="true" Elevation="0" MultiExpansion="true">

                <MudExpansionPanel Dense="true" IsInitiallyExpanded="true">
                    <TitleContent>
                        <PanelHeaderPanel Title="Inputs"/>
                    </TitleContent>
                    <ChildContent>
                        <MudDivider/>
                        <EngineInputs/>
                        <div class="d-flex flex-row-reverse w-100">
                            <div class="mt-2 mb-2">
                                <EngineControl/>
                            </div>
                        </div>
                    </ChildContent>
                </MudExpansionPanel>
                
                <MudExpansionPanel Dense="true" IsInitiallyExpanded="true" MaxHeight="200">
                    <TitleContent>
                         <PanelHeaderPanel Title="Score"/>
                    </TitleContent>
                    <ChildContent>
                        <MudDivider/>
                        <ScorePanel/>
                    </ChildContent>
                </MudExpansionPanel>

                <MudExpansionPanel Dense="true" IsInitiallyExpanded="true">
                    <TitleContent>
                        <PanelHeaderPanel Title="Metrics"/>
                    </TitleContent>
                    <ChildContent>
                        <MudDivider/>
                        <MetricsDataGridPanel/>
                    </ChildContent>
                </MudExpansionPanel>

            </MudExpansionPanels>
        </MudItem>

        <MudItem md="4">
            <MudExpansionPanels Dense="true" Elevation="0" MultiExpansion="true">

                @* <MudExpansionPanel Dense="true" IsInitiallyExpanded="true"> *@
                @*     <TitleContent> *@
                @*         <div class="d-flex"> *@
                @*             <MudText Typo="Typo.body1">Engine</MudText> *@
                @*         </div> *@
                @*     </TitleContent> *@
                @*     <ChildContent> *@
                @*         <MudDivider/> *@
                @*         <EngineStateTree/> *@
                @*     </ChildContent> *@
                @* </MudExpansionPanel> *@

                <MudExpansionPanel Dense="true" IsInitiallyExpanded="true" MaxHeight="150">
                    <TitleContent>
                        <div class="d-flex">
                            <MudText Typo="Typo.body1">Fitness Distribution</MudText>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <MudDivider/>
                        <MetricSummary MetricName="@MetricNames.FitnessDistribution" ChartHeight="125" ChartType="line"/>
                    </ChildContent>
                </MudExpansionPanel>

                <MudExpansionPanel Dense="true" IsInitiallyExpanded="true" MaxHeight="150">
                    <TitleContent>
                        <div class="d-flex">
                            <MudText Typo="Typo.body1">Age Distribution</MudText>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <MudDivider/>
                        <MetricSummary MetricName="@MetricNames.AgeDistribution" ChartHeight="125" ChartType="bar"/>
                    </ChildContent>
                </MudExpansionPanel>

                <MudExpansionPanel Dense="true" IsInitiallyExpanded="true" MaxHeight="150">
                    <TitleContent>
                        <div class="d-flex">
                            <MudText Typo="Typo.body1">Genome Size Distribution</MudText>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <MudDivider/>
                        <MetricSummary MetricName="@MetricNames.GenomeSizeDistribution" ChartHeight="125" ChartType="pie"/>
                    </ChildContent>
                </MudExpansionPanel>

            </MudExpansionPanels>
        </MudItem>

    </MudGrid>
</MudContainer>

@* <MudContainer Class="mt-4 px-8" MaxWidth="MaxWidth.False"> *@
@*     <MudGrid> *@
@*          *@
@*         <MudItem xs="12" sm="6" md="8"> *@
@*             <MudGrid> *@
@*                  *@
@*                 <MudItem md="12"> *@
@*                     <MudCard> *@
@*                         <MudCardHeader> *@
@*                             <CardHeaderContent> *@
@*                                 <MudText Typo="Typo.h6">Inputs</MudText> *@
@*                             </CardHeaderContent> *@
@*                             <CardHeaderActions> *@
@*                             </CardHeaderActions> *@
@*                         </MudCardHeader> *@
@*                         <MudDivider/> *@
@*                         <MudCardContent> *@
@*                             <EngineInputs/> *@
@*                         </MudCardContent> *@
@*                         <MudCardActions> *@
@*                             <div class="d-flex flex-row-reverse w-100"> *@
@*                                 <div class="mt-2"> *@
@*                                     <EngineControl/> *@
@*                                 </div> *@
@*                             </div> *@
@*                         </MudCardActions> *@
@*                     </MudCard> *@
@*                 </MudItem> *@
@*                  *@
@*                 $1$ <MudItem md="12"> #1# *@
@*                 $1$     <MudPaper Elevation="2" Class="pa-4" Style="height: 150px;"> #1# *@
@*                 $1$         <ToolBar Title="Engine"> #1# *@
@*                 $1$             <Options> #1# *@
@*                 $1$             </Options> #1# *@
@*                 $1$             <ChildContent> #1# *@
@*                 $1$                 <EngineRunStatePanel/> #1# *@
@*                 $1$                 <div class="mt-4 row"> #1# *@
@*                 $1$                     <div class="col-11"></div> #1# *@
@*                 $1$                     <div class="col-1"> #1# *@
@*                 $1$                         <MudButton OnClick="@OpenEngineTree" Class="float-right" #1# *@
@*                 $1$                                    Size="Size.Small" #1# *@
@*                 $1$                                    Color="Color.Inherit" #1# *@
@*                 $1$                                    Variant="Variant.Filled"> #1# *@
@*                 $1$                             <MudIcon Icon="@Icons.Material.Filled.AccountTree" Class="ml-0 mr-2" Size="Size.Small"/> #1# *@
@*                 $1$                             Subs #1# *@
@*                 $1$                         </MudButton> #1# *@
@*                 $1$                     </div> #1# *@
@*                 $1$                 </div> #1# *@
@*                 $1$             </ChildContent> #1# *@
@*                 $1$         </ToolBar> #1# *@
@*                 $1$     </MudPaper> #1# *@
@*                 $1$ </MudItem> #1# *@
@* *@
@*                 <MudItem md="6"> *@
@*                     <MudPaper Elevation="2" Class="pa-4" Style="height: 150px;"> *@
@*                         <MetricDisplay Metric="@(Model.GenomeSize)"> *@
@*                             <Chart Values="@(Model.GenomeSize?.Statistics.LastSequence.ToList())" Type="pie" Height="125"></Chart> *@
@*                         </MetricDisplay> *@
@*                     </MudPaper> *@
@*                 </MudItem> *@
@* *@
@*                 <MudItem md="6"> *@
@*                     <MudPaper Elevation="2" Class="pa-4" Style="height: 150px;"> *@
@*                         <MetricDisplay Metric="@(Model.PopulationAge)"> *@
@*                             <Chart Values="@(Model.PopulationAge?.Statistics?.LastSequence.ToList())" Type="bar" Height="125"></Chart> *@
@*                         </MetricDisplay> *@
@*                     </MudPaper> *@
@*                 </MudItem> *@
@*                  *@
@*                 <MudItem md="12"> *@
@*                     <MudPaper Elevation="2" Class="pa-4" Style="height: 150px;"> *@
@*                         <MetricDisplay Metric="@(Model.Fitness)"> *@
@*                             <Chart Values="@(Model.Fitness?.Statistics?.LastSequence.ToList())" Type="line" Height="125"/> *@
@*                         </MetricDisplay> *@
@*                     </MudPaper> *@
@*                 </MudItem> *@
@* *@
@*                 $1$ <MudItem md="12"> #1# *@
@*                 $1$     <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"> #1# *@
@*                 $1$         <MetricValueDisplay Value="@Model.Score"> #1# *@
@*                 $1$             <Chart Values="@Model.ScoresList" Type="line" Height="175"/> #1# *@
@*                 $1$         </MetricValueDisplay> #1# *@
@*                 $1$     </MudPaper> #1# *@
@*                 $1$ </MudItem> #1# *@
@*             </MudGrid> *@
@*              *@
@*         </MudItem> *@
@*          *@
@*         <MudItem md="4" xs="12" sm="6"> *@
@*             <MudGrid> *@
@*                  *@
@*                 <MudItem md="12"> *@
@*                     <MudPaper Elevation="2" Class="pa-4" Style="height: 150px;"> *@
@*                         <EngineRunStatePanel/> *@
@*                     </MudPaper> *@
@*                 </MudItem> *@
@*                 $1$ <MudItem md="12"> #1# *@
@*                 $1$     <MudPaper Elevation="2" Class="pa-4" Style="height: 150px;"> #1# *@
@*                 $1$         <MetricDisplay Metric="@(Model.Fitness)"> #1# *@
@*                 $1$             <Chart Values="@(Model.Fitness?.Statistics?.LastSequence.ToList())" Type="line" Height="125"/> #1# *@
@*                 $1$         </MetricDisplay> #1# *@
@*                 $1$     </MudPaper> #1# *@
@*                 $1$ </MudItem> #1# *@
@* *@
@*                 <MudItem md="12"> *@
@*                     <MudPaper Elevation="2" Class="pa-4"> *@
@*                         <h6>Outputs</h6> *@
@*                         <MudDivider/> *@
@*                         <div class="mt-4"> *@
@*                             <EngineOutputs/> *@
@*                         </div> *@
@*                     </MudPaper> *@
@*                 </MudItem> *@
@*             </MudGrid> *@
@*         </MudItem> *@
@*          *@
@*         $1$ <MudItem md="8"> #1# *@
@*         $1$     <MetricsDataGridPanel /> #1# *@
@*         $1$ </MudItem> #1# *@
@*         $1$          #1# *@
@* *@
@*     </MudGrid> *@
@* </MudContainer> *@

<TestFe/>

@code {
    [Parameter] public Guid RunId { get; set; }
    
    private async Task OpenEngineTree()
    {
        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Medium,
            FullWidth = true,
            CloseOnEscapeKey = true,
        };

        var dialogRef = await DialogService.ShowAsync<EngineStateTree>("Engine Tree", options);
        await dialogRef.Result;
    }

    protected override IObservable<MetricsModel> Select() => Store.Select(RunSelectors.SelectCurrentMetrics);
}
