@page "/runs/{runId:guid}"
@rendermode InteractiveServer
@inject IDialogService DialogService
@inherits StateComponent<Runs, Radiate.Client.Components.Store.Selectors.MetricsState>

<MudContainer Class="mt-4 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        
        <MudItem xs="12" sm="6" md="8">
            <MudGrid>
                
                <MudItem md="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 150px;">
                        <ToolBar Title="Inputs">
                            <Options></Options>
                            <ChildContent>
                                <EngineInputs/>
                                <div class="mt-4 row">
                                    <div class="col-11"></div>
                                    <div class="col-1">
                                        <EngineControl/>
                                    </div>
                                </div>
                            </ChildContent>
                        </ToolBar>
                    </MudPaper>
                </MudItem>
                
                <MudItem md="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 150px;">
                        <ToolBar Title="Engine">
                            <Options>
                            </Options>
                            <ChildContent>
                                <EngineRunStatePanel/>
                                <div class="mt-4 row">
                                    <div class="col-11"></div>
                                    <div class="col-1">
                                        <MudButton OnClick="@OpenEngineTree" Class="float-right"
                                                   Size="Size.Small"
                                                   Color="Color.Inherit"
                                                   Variant="Variant.Filled">
                                            <MudIcon Icon="@Icons.Material.Filled.AccountTree" Class="ml-0 mr-2" Size="Size.Small"/>
                                            Subs
                                        </MudButton>
                                    </div>
                                </div>
                            </ChildContent>
                        </ToolBar>
                    </MudPaper>
                </MudItem>

                <MudItem md="6">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 150px;">
                        <MetricDisplay Metric="@(State.GenomeSize)">
                            <Chart Values="@(State.GenomeSize?.Statistics.LastSequence.ToList())" Type="pie" Height="125"></Chart>
                        </MetricDisplay>
                    </MudPaper>
                </MudItem>

                <MudItem md="6">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 150px;">
                        <MetricDisplay Metric="@(State.PopulationAge)">
                            <Chart Values="@(State.PopulationAge?.Statistics?.LastSequence.ToList())" Type="bar" Height="125"></Chart>
                        </MetricDisplay>
                    </MudPaper>
                </MudItem>

                <MudItem md="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                        <MetricValueDisplay Value="@State.Score">
                            <Chart Values="@State.ScoresList" Type="line" Height="175"/>
                        </MetricValueDisplay>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        
        <MudItem md="4" xs="12" sm="6">
            <MudGrid>
            <MudItem md="12">
                <MudPaper Elevation="2" Class="pa-4" Style="height: 150px;">
                    <MetricDisplay Metric="@(State.Fitness)">
                        <Chart Values="@(State.Fitness?.Statistics?.LastSequence.ToList())" Type="line" Height="125"/>
                    </MetricDisplay>
                    </MudPaper>
                </MudItem>
    
                <MudItem md="12">
                    <MudPaper Elevation="2" Class="pa-4">
                        <h6>Outputs</h6>
                        <MudDivider/>
                        <div class="mt-4">
                            <EngineOutputs/>
                        </div>
                    </MudPaper>
                </MudItem>    
            </MudGrid>
        </MudItem>

    </MudGrid>
</MudContainer>

<TestFe/>

@code {
    [Parameter] public Guid RunId { get; set; }
    
    private async Task OpenEngineTree()
    {
        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Medium,
            FullWidth = true,
            CloseOnEscapeKey = true,
        };

        var dialogRef = await DialogService.ShowAsync<EngineStateTree>("Engine Tree", options);
        await dialogRef.Result;
    }
}
