@inherits StoreComponent<RunInputsModel>

<div class="container mt-2">
    <div class="row">
        
        <div class="col">
            <div class="d-inline-flex border-bottom">
                <strong>Model:</strong>
                <div class="pl-2">@Model.ModelType</div>
            </div>
        </div>


        <div class="col">
            <div class="d-inline-flex border-bottom">
                <strong>Data:</strong>
                <div class="pl-2">@Model.DataSetType</div>
            </div>
        </div>

        <div class="col">
            <div class="d-inline-flex border-bottom">
                <strong>Pop. Size:</strong>
                <div class="pl-2">@Model.PopulationInputs.PopulationSize</div>
            </div>
        </div>

        <div class="col">
            <div class="d-inline-flex border-bottom">
                <strong>Mutation Rate:</strong>
                <div class="pl-2">@Model.PopulationInputs.MutationRate</div>
            </div>
        </div>

        <div class="col">
            <div class="d-inline-flex border-bottom">
                <strong>Inter. Limit:</strong>
                <div class="pl-2">@Model.LimitInputs.IterationLimit</div>
            </div>
        </div>

    </div>
</div>

@code {
    protected override IObservable<RunInputsModel> Select() => Store.Select(RunSelectors.SelectCurrentRunInputs);
}