@using Radiate.Engines.Entities
@using Radiate.Engines.Schema
@using Radiate.Client.Components.Store.Models
@inherits StateComponent<EngineStateTree, EngineTreeState>


<MudTreeView Items="@State.TreeItems">
    <ItemTemplate>
        <MudTreeViewItem @bind-Expanded="@context.IsExpanded" Items="@context.TreeItems" OnClick="@(() => OnSelectedValueChanged(context))">
            <Content>
                <MudTreeViewItemToggleButton @bind-Expanded="@context.IsExpanded" Visible="@context.HasChild" />
                
                <div class="container">
                    <div class="row border-bottom">
                        <div class="col">
                            <div class="d-inline-flex">
                                <MudIcon Icon="@context.Icon" Class="ml-0 mr-2" Color="@context.Color"/>
                                <strong>@(context.Data.Name[..3])</strong>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="d-inline-flex">
                                <strong>State:</strong>
                                <div class="pl-2">@context.Data.State</div>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="d-inline-flex">
                                <strong>Runs:</strong>
                                <div class="pl-2">@context.Data.Metrics.Get(MetricNames.Run)?.Statistics?.Sum</div>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="d-inline-flex">
                                <strong>Time:</strong>
                                <div class="pl-2">@TimeSpan.FromMilliseconds(context.Data.Metrics.Get(MetricNames.Time)?.Time?.Sum ?? 0)</div>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="d-inline-flex">
                                <strong>Switches:</strong>
                                <div class="pl-2">@context.Data.Metrics.Get(MetricNames.EngineChange)?.Statistics?.Sum</div>
                            </div>
                        </div>   
                        
                    </div>
                </div>

            </Content>
        </MudTreeViewItem>
    </ItemTemplate>
</MudTreeView>

@code {
    
    private void OnSelectedValueChanged(TreeItemData<EngineState> context)
    {
        var data = State.TreeItems.ToDictionary(key => key.Data.EngineId, value => value.IsExpanded);
        data[context.Data.EngineId] = !context.IsExpanded;
        Dispatch(new SetEngineTreeExpandedAction(State.RunId, data));
    }
}