@inherits StoreComponent<MetricSummaryChartPanelModel>

@if (Model != null)
{
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="row mt-2">
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <h6>∧</h6>
                            </div>
                            <div class="col-4" style="font-size: 12px;">@Model.Value.Max</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <h6>∨</h6>
                            </div>
                            <div class="col-4" style="font-size: 12px;">@Model.Value.Min</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <h6>μ</h6>
                            </div>
                            <div class="col-4" style="font-size: 12px;">@Model.Value.Mean</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <h6>K</h6>
                            </div>
                            <div class="col-4" style="font-size: 12px;">@Model.Value.Kurtosis</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <h6>S</h6>
                            </div>
                            <div class="col-4" style="font-size: 12px;">@Model.Value.Skewness</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <h6>s²</h6>
                            </div>
                            <div class="col-4" style="font-size: 12px;">@Model.Value.Variance</div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col">
                <Chart Values="@Model.Value.Distribution" Height="@(ChartHeight ?? 0)" Type="@(ChartType ?? "line")"></Chart>
            </div>
        </div>
    </div>
}


@code {
    [Parameter] public string MetricName { get; set; }
    [Parameter] public string? ChartType { get; set; }
    [Parameter] public int? ChartHeight { get; set; }
    
    protected override IObservable<MetricSummaryChartPanelModel> Select() =>
        Store.Select(RunSelectors.SelectMetricSummaryChartPanelModel(MetricName));
    
}