@using Color = MudBlazor.Color
@using Image = SixLabors.ImageSharp.Image
@using Size = MudBlazor.Size
@using Radiate.Client.Domain.Store.Actions
@using Radiate.Client.Domain.Store.Models
@using Radiate.Client.Domain.Store.Models.Projections
@using Radiate.Client.Domain.Store.Selections
@inherits StoreComponent<RunControlPanelProjection>

<div class="d-flex justify-content-between mt-3">
	<div class="align-items-center w-75 pr-4">

		<div class="d-flex align-items-center border-bottom justify-content-between mb-3">
			<MudText Typo="Typo.body2">
				<MudIcon Icon="@Icons.Material.Outlined.DateRange"/>
				Start:
			</MudText>
			<MudText Typo="Typo.caption">@Model.StartTime</MudText>
		</div>
		<div class="d-flex align-items-center border-bottom justify-content-between mb-3">
			<MudText Typo="Typo.body2">
				<MudIcon Icon="@Icons.Material.Outlined.DateRange"/>
				End:
			</MudText>
			<MudText Typo="Typo.caption">@Model.EndTime</MudText>
		</div>
		<div class="d-flex align-items-center border-bottom justify-content-between mb-3">
			<MudText Typo="Typo.body2">
				<MudIcon Icon="@Icons.Material.Outlined.Schedule"/>
				Duration:
			</MudText>
			<MudText Typo="Typo.caption">@Model.ElapsedTime</MudText>
		</div>
		<div class="d-flex align-items-center border-bottom justify-content-between mb-3">
			<MudText Typo="Typo.body2">
				<MudIcon Icon="@Icons.Material.Outlined.Star"/>
				Score:
			</MudText>
			<MudText Typo="Typo.caption">@Model.Score</MudText>
		</div>
		<div class="d-flex align-items-center border-bottom justify-content-between mb-3">
			<MudText Typo="Typo.body2">
				<MudIcon Icon="@Icons.Material.Outlined.Numbers"/>
				Index:
			</MudText>
			<MudText Typo="Typo.caption">@Model.Index</MudText>
		</div>
	</div>
	<div class="align-items-center w-25">
		@if (Model.NeedsImageUpload)
		{
			<ImageUpload Height="@Model.Inputs.ImageInputs.Height"
			             Width="@Model.Inputs.ImageInputs.Width"
			             ImageChanged="@((ImageEntity image) => Dispatch(new SetTargetImageAction(Model.RunId, image)))"/>
		}
		else
		{
			<div>
				<MudButton Class="w-100"
				           Size="Size.Small"
				           Variant="Variant.Filled"
				           Color="Color.Secondary"
				           Disabled="@((!Model.IsRunning && !Model.IsCompleted) || Model.IsCompleted)"
				           OnClick="@Stop">
					<MudIcon Icon="@Icons.Material.Filled.Stop"
					         Size="Size.Small"/>
					Stop
				</MudButton>
			</div>
			<div class="mt-2">
				<MudButton Class="w-100"
				           Size="Size.Small"
				           Variant="Variant.Filled"
				           Color="Color.Primary"
				           Disabled="@(!Model.IsRunning || Model.IsCompleted || Model.IsPaused)"
				           OnClick="@Pause">
					<MudIcon Icon="@Icons.Material.Filled.Pause"
					         Size="Size.Small"/>
					Pause
				</MudButton>
			</div>
			<div class="mt-2">
				<MudButton Class="w-100"
				           Size="Size.Small"
				           Variant="Variant.Filled"
				           Color="Color.Info"
				           Disabled="@(!Model.IsPaused)"
				           OnClick="@Resume">
					<MudIcon Icon="@Icons.Material.Filled.Restore"
					         Size="Size.Small"/>
					Resume
				</MudButton>
			</div>
			<div class="mt-2">
				<MudButton Size="Size.Small"
				           Color="Color.Tertiary"
				           Variant="Variant.Filled"
				           Class="w-100"
				           Disabled="@(Model.IsRunning || Model.IsCompleted || Model.Inputs is {ModelType: "Image", ImageInputs.TargetImage.IsEmpty: true})"
				           OnClick="@Start">
					<MudIcon Icon="@Icons.Material.Filled.PlayArrow"
					         Class=""
					         Size="Size.Small"/>
					Start
				</MudButton>
			</div>
		}
	</div>
</div>

@code {
    
    private void Start() => Store.Dispatch(new StartEngineAction(Model.RunId, Model.Inputs));

    private void Stop() => Store.Dispatch(new CancelEngineRunAction(Model.RunId));
    
    private void Resume() => Store.Dispatch(new ResumeEngineRunAction(Model.RunId));
    
    private void Pause() => Store.Dispatch(new PauseEngineRunAction(Model.RunId));
    
    protected override IObservable<RunControlPanelProjection> Select() => Store.Select(EngineSelectors.SelectRunControlPanelModel);
}
